@import '../abstracts/variables';
@import '../abstracts/mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

a {
    color: currentColor;
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 0;

    @media screen and (max-width: 1200px) {
        padding: 40px 0;        
    }

    @media screen and (max-width: 600px) {
        padding: 16px 0;        
    }
}

h1 {
    @include h1-text;
}

h2 {
    @include h2-text;
}

p {
    @include paragraph-text;
}